@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap';

.message__list {
  max-width: 370px;
  width: 100%;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  position: fixed;
  right: 0;
  top: 0;
  &--top-right {
    right: 0;
    top: 0;
    left: auto;
    bottom: auto;
  }
  &--top-left {
    left: 0;
    top: 0;
    bottom: auto;
    right: auto;
  }
  &--bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
  }
  &--bottom-left {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }
  &--top-center {
    top: 0;
    right: 50%;
    bottom: auto;
    left: auto;
    transform: translateX(50%);
  }
  &--right-center {
    top: 50%;
    right: 0;
    left: auto;
    bottom: auto;
    transform: translateY(-50%);
  }
  &--bottom-center {
    bottom: 0;
    right: 50%;
    top: auto;
    left: auto;
    transform: translateX(50%);
  }
  &--left-center {
    top: 50%;
    left: 0;
    bottom: auto;
    right: auto;
    transform: translateY(-50%);
  }
  &--top-center {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateY(50%) scale(0.5);
    }
  }
  &--bottom-center {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateY(50%) scale(0.5);
    }
  }
  &--top-right,
  &--right-center,
  &--bottom-right {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(50%) scale(0.5);
    }
  }
  &--top-left,
  &--left-center,
  &--bottom-left {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(-50%) scale(0.5);
    }
  }
}
