$purple-80: rgb(163, 142, 213);
$purple-60: rgb(190, 133, 216);
$purple-40: rgb(201, 99, 245);
$purple: rgb(108, 33, 140);

$error: rgb(210, 10, 10);
$wait-warning: rgb(201, 198, 20);
$success: rgb(75, 170, 30);
$white: rgb(255, 255, 255);
$light-grey: rgba(195, 195, 195);

