@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap';
@import './colors.scss';

body {
  background: $purple-80;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

ul {
  list-style: none;
}

.btn-wrapper {
  background: white;
  border-radius: 14px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
  position: fixed;
  left: 10px;
  top: 10px;
}

.button {
  border: none;
  outline: none;
  background: $purple;
  padding: 5px 15px 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Sans';
  color: $white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    opacity: 0.8;
  }
  &--wait-warning {
    background: $wait-warning;
  }
  &--error {
    background: $error;
  }
  &--success {
    background: $success;
  }
  &--white {
    background: rgb(49, 49, 49);
    color: white;
  }
}

.message__list {
  max-width: 370px;
  width: 100%;
  margin: 10px;
  position: fixed;
  right: 0;
  top: 0;
  &--top-right {
    right: 0;
    top: 0;
  }
  &--top-left {
    left: 0;
    top: 0;
  }
  &--bottom-right {
    bottom: 0;
    right: 0;
  }
  &--bottom-left {
    bottom: 0;
    left: 0;
  }
  &--top-center {
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
  &--right-center {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  &--bottom-center {
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
  }
  &--left-center {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  &--top-right,
  &--right-center,
  &--bottom-right {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(50%) scale(0.5);
    }
  }
  &--top-left,
  &--left-center,
  &--bottom-left {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(-50%) scale(0.5);
    }
  }
  &--top-center {
    .list-enter-active,
    .list-leave-active {
      transition: all 0.3s ease;
    }
    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateY(-50%) scale(0.5);
    }
  }
}

.message {
  &__item {
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    height: 50px;
    margin-bottom: 10px;
    padding-right: 30px;
    background: $white;
    &--error {
      background: $error;
    }
    &--wait {
      padding-right: 10px !important;
      background: $wait-warning;
    }
    &--success {
      background: $success;
    }
    &--warning {
      background: $wait-warning;
    }
  }
  &__img {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-error {
      height: 30px;
      width: 30px;
      background: $white;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after,
      &::before {
        content: '';
        height: 24px;
        width: 3px;
        border-radius: 5px;
        position: absolute;
        background: $error;
      }
      &::after {
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }
    }
    &-wait {
      position: relative;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: ' ';
        display: block;
        border-radius: 50%;
        width: 0;
        height: 0;
        margin: 8px;
        box-sizing: border-box;
        border: 16px solid $white;
        border-color: $white transparent $white transparent;
        animation: lds-hourglass 1.2s infinite;
      }
    }
    &-success {
      font-size: 24px;
      font-weight: 900;
      color: $white;
    }
    &-custom {
      border-radius: 50%;
      overflow: hidden;
    }
    &-warning {
      color: $white;
      font-size: 26px;
      font-weight: 900;
    }
  }
  &__title {
    padding: 0 10px;
    p {
      font-size: 16px;
      color: $white;
      margin: 0;
    }
  }
  &__close {
    outline: none;
    border: none;
    background: none;
    font-size: 24px;
    font-family: 'Noto Sans';
    display: flex;
    justify-content: center;
    align-items: flex-start;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    color: $light-grey;
    transition: 0.2s all;
    transform: translateY(-51%);
    &:hover {
      color: $white;
    }
  }
}

.message__item--custom {
  p {
    color: black;
  }
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.title {
  a {
    font-size: 34px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
    &:hover {
      color: rgb(68, 68, 68);
    }
  }
}

.steps {
  width: 100%;
  padding-top: 20px;
  &__list {
    display: flex;
    gap: 10px;
    justify-content: center;
    .button {
      font-size: 18px;
      &.active {
        background: black;
      }
    }
  }
  &-title {
    font-size: 25px;
    margin-top: 20px;
  }
  &-comment {
    font-size: 16px;
    color: rgb(22, 22, 22);
  }
  &-line {
    margin: 10px 0;
    width: 100%;
    height: 2px;
    background-color: rgb(68, 68, 68);
  }
  .code-area {
    max-height: 350px;
    overflow: auto;
    height: 100%;
    width: 100%;
    flex: 1 1 1000%;
    margin: 10px 0;
    position: relative;
    background-color: rgb(44, 44, 44);
    border-radius: 14px;
    color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.26);
    &::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    &-language {
      position: absolute;
      right: 10px;
      top: 10px;
      background: rgb(90, 90, 90);
      border-radius: 12px;
      height: 35px;
      min-width: 35px;
      width: max-content;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.warning {
  color: black;
}

footer {
  padding: 40px 0;
  margin-top: 40px;
  border-top: 2px solid rgb(68, 68, 68);
  display: flex;
  justify-content: space-between;
  a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: black;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    opacity: 0.8;
    transition: 0.2s;
    &:hover {
      opacity: 1;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}
